{% extends 'blog/base.html' %}

{% block title %}

    {% if post.title %}

        SWD Edit - {{ post.title }}

    {% else %}

        SWD Create New Post

    {% endif %}

{% endblock %}


{% block content %}

    <form method="post" class="post-form-blog"   >

        {% csrf_token %}
        <h1>{{ post.title }}</h1>

        {% if post.title %}

            <button type="submit" class="btn btn-success">SAVE</button>

        {% else %}
        
            <button type="submit" class="btn btn-success">SAVE DRAFT</button>

        {% endif %}

        <br>
        <p class="d-flex flex-column" >{{ form }}</p>
        <br>
        
    </form>
{% endblock %}