.page-header {
    background-color: rgb(94, 35, 150);
    margin-top: 0;
    padding: 20px 20px 10px 40px;
    margin-bottom: 40px;
}

.page-header h1, .page-header h1 a {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.fa-2x:hover {
    color: #218838;
}

.published-date {
    color: #727272;
    font-weight: 400;
}

.post {
    margin-bottom: 30px;
}

.post h1 a {
    color: rgb(94, 35, 150);
    
}

.post h1 a:visited {
    color: rgb(43, 15, 170);
}

.post-form-blog textarea {
    width: 100%;
}

.post-form-blog .btn-success {
    float: right;
}

.top-menu {
    color: #ffffff;
    float: right;
    font-size: 26px;
    margin-right: 20px;
}

textarea {
    width: 100vw; 
    height: 60vh;
}

.comment {
    margin: 20px 0px 20px 20px;

}

.fa-trash-alt {
    color: pink;
}

.fa-trash-alt:hover {
    color: red;
}

.fa-check-square {
    color: lightgreen;
}

.fa-check-square:hover {
    color: #218838;
}